{% extends 'base.html.twig' %}

{% block header %}

    <header>
        <h1 class="logo-dare">DARE !</h1>
    </header>

{% endblock %}

{% block body %}
<div class="bg-choices text-light">
    <div class="container">
        <div class="section-header">
            <h1 class="text-center">May the fuck be in you</h1>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
            {% for character in characters %}
                {% if character.name %}
                <div class="col-md-5 col-sm-6 text-center choices-card p-0 m-3">
                        <div class="card bg-grey-choices no-border-choices">
                            <div class="card-header border-bottom-choices">
                                <h5>{{ character.name }}</h5>
                            </div>
                            <div class="card-body d-inline-flex">
                                <img class="card-img-top choices-img-fluidmax" src="{{ character.image }}" alt="Card image cap">
                                <ul>
                                    <li>
                                        <h4>Description</h4>
                                    </li>
                                    <li>
                                        <h6>Gender: {{ character.gender }}</h6>
                                    </li>
                                    <li>
                                        <h6>Specie: {{ character.species }}</h6>
                                    </li>
                                    <li>
                                        <h6>Eye color: {{ character.eyeColor }}</h6>
                                    </li>
                                    {% if character.height is defined %}
                                    <li>
                                        <h6>Height: {{ character.height }} m</h6>
                                    </li>
                                    {% endif %}
                                    {% if character.mass is defined %}
                                    <li>
                                        <h6> Mass: {{ character.mass }} Kg</h6>
                                    </li>
                                    {% endif %}
                                    {% if character.hairColor is defined %}
                                    <li>
                                        <h6>Hair color: {{ character.hairColor }}</h6>
                                    </li>
                                    {% endif %}
                                    {% if character.homeworld is defined %}
                                    <li>
                                        <h6>Homeworld: </h6>
                                    </li>
                                    {% endif %}
                                    {% if character.bornLocation is defined %}
                                    <li>
                                        <h6>Born location: {{ character.bornLocation }}</h6>
                                    </li>
                                    {% endif %}
                                    {% if character.affiliations is defined %}
                                    <li>
                                        <h6>Affiliations: </h6>
                                    </li>
                                    {% endif %}
                                    <ol class="p-0">
                                        <a class="btn btn-primary" href="/matches/{{ character.id }}"><i class="fas fa-pencil-alt mr-2"></i>Choose</a>
                                    </ol>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
