{% extends 'base.html.twig' %}

{% block header %}

    <header>
        <a href="/"><h1 class="logo-dare">DARE!</h1></a>
    </header>

{% endblock %}

{% block body %}
<div class="bg-choices text-light">
    <div class="container">
        <div class="section-header">
            <h1 class="text-center">Your panel of potentials dates</h1>
        </div>
    </div>
    
    <audio id="sound1" preload="auto">
        <source src="http://www.thesoundarchive.com/starwars/R2D2-yeah.mp3" type="audio/mp3" />
    </audio>
    
    <div class="container">
        <div class="row justify-content-md-center">
            {% for character in characters %}
                {% if character.name %}
                <div class="col-md-5 col-sm-6 text-center p-0 m-3">
                        <div class="card bg-grey-choices no-border-choices choices-card">
                            <div class="card-header border-bottom-choices">
                                <h5>{{ character.name }}</h5>
                            </div>
                            <div class="card-body d-inline-flex">
                                <div class="col-md-6">
                                <img class="card-img-top" src="{{ character.image }}" alt="Card image cap">
                                </div>
                                <div class="col-md-6">
                                <ul class="text-left list-unstyled">
                                    <li>
                                        <h6><i class="swg swg-falcon-o swg-lg"></i> Gender: {{ character.gender }}</h6>
                                    </li>
                                    <li>
                                        <h6><i class="swg swg-falcon-o swg-lg"></i> Specie: {{ character.species }}</h6>
                                    </li>
                                    <li>
                                        <h6><i class="swg swg-falcon-o swg-lg"></i> Eye color: {{ character.eyeColor }}</h6>
                                    </li>

                                    {% if character.height is defined %}
                                    <li>
                                        <h6><i class="swg swg-falcon-o swg-lg"></i> Height: {{ character.height }} m</h6>
                                    </li>
                                    {% endif %}
                                    {% if character.mass is defined %}
                                    <li>
                                        <h6><i class="swg swg-falcon-o swg-lg"></i> Mass: {{ character.mass }} Kg</h6>
                                    </li>
                                    {% endif %}
                                    {% if character.hairColor is defined %}
                                    <li>
                                        <h6><i class="swg swg-falcon-o swg-lg"></i> Hair color: {{ character.hairColor }}</h6>
                                    </li>
                                    {% endif %}
                                    {% if character.lastHomeworld is defined %}
                                    <li>
                                        <h6><i class="swg swg-falcon-o swg-lg"></i> Homeworld: {{ character.lastHomeworld }}</h6>
                                    </li>
                                    {% endif %}
                                    {% if character.bornLocation is defined %}
                                    <li>
                                        <h6><i class="swg swg-falcon-o swg-lg"></i> Born location: {{ character.bornLocation }}</h6>
                                    </li>
                                    {% endif %}
                                    {% if character.lastAffiliation is defined %}
                                    <li>
                                        <h6><i class="swg swg-falcon-o swg-lg"></i> Affiliations: {{ character.lastAffiliation }}</h6>
                                    </li>
                                    {% endif %}

                                    <div>
                                        <a class="btn btn-primary question" href="/matches/{{ character.id }}" onclick="document.getElementById('sound1').play();"><i class="fas fa-pencil-alt mr-2"></i>Choose</a>
                                    </div>
                                </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
