{% extends 'base.html.twig' %}

{% block header %}

    <header>
        <a href="/"><h1 class="logo-dare">DARE!</h1></a>
        <a href="/credit"><h1 class="logo-end">THE END</h1></a>
    </header>

{% endblock %}

{% block body %}
    <div class="bg01">
        <div class="container">
            <div class="row ligne1 no-gutters">
                <div class="col-md-5 text-center p-0 m-3 mt-5">
                    <div class="card bg-grey-choices siezeCardMatch">
                        <div class="card-header">
                            <h5 class="text-white">{{ character.name }}</h5>
                        </div>
                        <div class="card-body ">
                            <div class="card-header">
                                <img class="imgSeize" src="{{ character.image }}" alt="Card image cap">
                            </div>
                            <li class="list-group-item p-1 frontSeizeCard text-left bg-grey-choices text-center text-white h5match">
                                {% if character.height is defined %}
                                    Height: {{ character.height }} m <br>
                                {% endif %}

                                {% if character.mass is defined %}
                                    Mass: {{ character.mass }} Kg <br>
                                {% endif %}

                                {% if character.gender is defined %}
                                    Gender: {{ character.gender }}  <br>
                                {% endif %}

                                {% if character.hairColor is defined %}
                                    Hair color: {{ character.hairColor }}  <br>
                                {% endif %}

                                {% if character.eyeColor is defined %}
                                    Eye color: {{ character.eyeColor }}  <br>
                                {% endif %}

                                {% if homeworld is defined %}
                                    Homeworld: {{ homeworld }} <br>
                                {% endif %}

                                {% if character.bornLocation is defined %}
                                    Born location: {{ character.bornLocation }} <br>
                                {% endif %}

                                {% if character.species is defined %}
                                    species: {{ character.species }} <br>
                                {% endif %}

                                {% if character.affiliations is defined %}
                                    Affiliations: {{ affiliations }} <br>
                                {% endif %}
                            </li>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 text-center p-0 m-3 mt-5">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="text-white h5match">MATCH OR NOT MATCH</h1>
                            <img src="{{ result }}" class="img-thumbnail">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

