{% extends 'base.html.twig' %}

{% block header %}

    <header>
        <a href="/"><h1 class="logo-dare">DARE!</h1></a>
    </header>

{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="bg-img">
            <div class="d-flex justify-content-center container">
                <form action="" method="post">
                    <div class="container FormDavid">
                        <h1 class="text-center ">Want to meet someone within the same specie?</h1>
                        <h4 class="font-italic SubtitleForbidden">Fill out the following form</h4>

                        <div class="row align-text-center">
                            <label for="species" class="col-5 mt-3"><b>Select your specie</b></label>
                            <select name="species" class="col-7">
                                <option value=""></option>
                                {% for specie in species %}
                                    <option value="{{ specie }}">{{ specie }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="row content-justify-center">
                            <p class="empireDavid mb-2 mt-4 d-block col-12">What is your gender?</p>
                        </div>
                        <div class="row content-justify-center">
                            <div class="col-5">
                                <input
                                        type="radio" name="gender"
                                        id="contactChoice1" class="input-hidden"
                                        value="female" />
                                <label for="contactChoice1">
                                    <img
                                            src="{{ asset('assets/image/500px-Male_Icon.svg.png') }}"
                                            alt="contactChoice1" />
                                </label>
                            </div>
                            <div class="col-5">
                                <input
                                        type="radio" name="gender"
                                        id="contactChoice2" class="input-hidden"
                                        value="male" />
                                <label for="contactChoice2">
                                    <img
                                            src="{{ asset('assets/image/500px-Female_Icon.svg.png') }}"
                                            alt="contactChoice2" />
                                </label>
                            </div>
                        </div>

                        <div class="row align-text-center">
                            <label class="col-5 mt-3" for="lastHomeworld"><b>Select a homeworld</b></label>
                            <select class="col-7" name="lastHomeworld">
                                <option value=""></option>
                                {% for homeworld in homeworlds %}
                                    <option value="{{ homeworld }}">{{ homeworld }}</option>
                                {% endfor %}

                            </select>
                        </div>

                        <div>
                            <button type="submit" class="btn ProfileButton ButtonBackground">Match now </button>
                        </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
